.title {
  color: rgb(188, 5, 5);
  display: flex;
  justify-content: center;
}
.nav {
  text-decoration: none;
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.main {
  margin: 0.5rem 0;
  border: 1px solid blueviolet;
  padding: 0.2rem;
  display: flex;
  justify-content: space-around;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: crimson;
}
